<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>ApplicantController</servlet-name>
        <servlet-class>controller.ApplicantController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LoginRouterController</servlet-name>
        <servlet-class>controller.LoginRouterController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SchoolController</servlet-name>
        <servlet-class>controller.SchoolController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CompanyController</servlet-name>
        <servlet-class>controller.CompanyController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AdminController</servlet-name>
        <servlet-class>controller.AdminController</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>ApplicantController</servlet-name>
        <url-pattern>/ApplicantController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LoginRouterController</servlet-name>
        <url-pattern>/LoginRouterController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SchoolController</servlet-name>
        <url-pattern>/SchoolController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CompanyController</servlet-name>
        <url-pattern>/CompanyController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AdminController</servlet-name>
        <url-pattern>/AdminController</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
